.resumebook {
  align-items: center;
}
pre {
  white-space: pre-wrap;
}
pre > code {
  color: black;
}

code {
  color: darkred;
  font-weight: bold;
}

.apercufriends {
  width: 100px;
}

.lienquizz {
  text-align: center;
}

.buttonlink {
  width: 400px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0.4rem;
  outline: none;
  background-color: rgb(178, 34, 34);
  user-select: none;
  font-weight: 800;
  color: white;
}

button:hover {
  background: darksalmon;
  transition: 0.5s;
}

img[alt="friendsbook"] {
  width: 200px;
  float: left;
  margin-right: 1em;
}

img[alt="couvfriends"] {
    width: 500px;
}
